<mat-stepper class="mt-4">
    <mat-step [stepControl]="infoForm" errorMessage="Preencha as informações">
      <form [formGroup]="infoForm">
        <ng-template matStepLabel>Informações</ng-template>
        
        <div class="col">
            <div class="row mx-auto">
                <mat-form-field class="mx-auto" appearance="fill">
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="João Alberto Silva" formControlName="name" required>
                </mat-form-field>
            </div>

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <mat-select-country class="mx-auto my-auto" appearance="fill"
                        label="País"
                        formControlName="country"
                        [required]="true">
                    </mat-select-country>
                </div>

                <div class="col d-flex justify-content-center">
                    <mat-form-field class="mx-auto" appearance="fill">
                        <mat-label>Cidade/Estado</mat-label>
                        <input matInput placeholder="Lisboa" formControlName="city" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <mat-form-field class="mx-auto" appearance="fill">
                        <mat-label>Morada</mat-label>
                        <input matInput placeholder="Rua Principal Nº1 1ºEsq" formControlName="address" required>
                    </mat-form-field>
                </div>

                <div class="col d-flex justify-content-center">
                    <mat-form-field class="mx-auto" appearance="fill">
                        <mat-label>Código de Postal</mat-label>
                        <input matInput placeholder="1000-001" formControlName="post_code" required>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col d-flex justify-content-center">
                    <mat-form-field class="mx-auto" appearance="fill">
                        <mat-label>NIF</mat-label>
                        <input matInput formControlName="nif">
                    </mat-form-field>
                </div>
                
                <div class="col"></div>
            </div>
            
            <button class="mt-4" mat-button matStepperNext>Próximo <mat-icon>navigate_next</mat-icon></button>
        </div>   
      </form>
    </mat-step>

    <mat-step [stepControl]="paymentForm" errorMessage="Selecione método de pagamento">
      <form [formGroup]="paymentForm">
        <ng-template matStepLabel>Pagamento</ng-template>
        
        <div class="col">
            <div class="row">
                <mat-form-field appearance="fill">
                    <mat-label>Address</mat-label>
                    <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                           required>
                  </mat-form-field>
            </div>

            <button class="mr-3" mat-button matStepperPrevious><mat-icon>navigate_before</mat-icon> Anterior</button>
            <button class="mx-3" mat-button matStepperNext>Próximo <mat-icon>navigate_next</mat-icon></button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Confirmar Dados</ng-template>
      <p>You are now done.</p>
      <div>
        <button class="mr-3"mat-button matStepperPrevious><mat-icon>navigate_before</mat-icon> Anterior</button>
        <button class="mx-3" mat-button (click)="checkoutDone()">Finalizar <mat-icon>check</mat-icon></button>
      </div>
    </mat-step>
</mat-stepper>
