<div class="row d-flex justify-content-center w-100 h-100">
    <div class="col-1"></div>

    <div class="col">
        <div class="row my-5">
            <h1>Carrinho de compras</h1>
        </div>

        <div class="row">
            <div class="col"><p class="header">Item</p></div>
    
            <div class="col"><p class="header">Descrição</p></div>

            <div class="col"><p class="header">Formato</p></div>
            
            <div class="col"><p class="header">Preço</p></div>
    
            <div class="col"><p class="header">Quantidade</p></div>
    
            <div class="col"><p class="header">Total</p></div>

            <mat-divider class="my-3" style="color: black; background-color: black"></mat-divider>
        </div>


        <div class="row d-flex my-3" *ngFor="let item of cart">
            <div class="col h-100 my-auto">
                <img src="{{item.image}}" alt="{{item.title}}">
            </div>
    
            <div class="col h-100 my-auto">
                <p>{{item.title}}</p>
            </div>

            <div class="col h-100 my-auto">
                <p>{{item.type == 'key' ? 'Chave' : 'CD'}}</p>
            </div>
    
            <div class="col h-100 my-auto">
                <p>{{item.key_price}}</p>
            </div>
    
            <div class="col h-100 my-auto d-flex">
                <mat-form-field color="accent" appearance="outline">
                    <input matInput type="text" value="{{item.qty}}">
                </mat-form-field>
            </div>
    
            <div class="col h-100 my-auto">
                <div class="row">
                    <div class="col">
                        <p>{{totalPriceProduct(item.qty, item.key_price)}} €</p>
                    </div>

                    <div class="col">
                        <mat-icon color="warn" (click)="removeItem(item)">close</mat-icon>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row d-flex my-3">
            <div class="col"></div>
    
            <div class="col-2 mx-2">
                <div class="row h-50"></div>

                <div class="row h-50">
                    <button mat-raised-button color="warn" style="width: 100%;" (click)="resetCart()">
                        Esvaziar Carrinho
                        <mat-icon>delete_forever</mat-icon>
                    </button>
                </div>
            </div>
    
            <div class="col-3 mx-2">
                <div class="row h-50"><p>Total da Encomenda: {{totalPriceCart()}} €</p></div>
                
                <div class="row h-50">
                    <button mat-raised-button color="primary" (click)="resetCart()">
                        Finalizar Compra
                        <mat-icon>done_all</mat-icon>
                    </button>
                </div>
                
            </div>
        </div>
    </div>
    
    <div class="col-1"></div>
</div>
