img {
    border: 5px;
    border-color: black;
    border-radius: 40px;
    border-style: solid;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    object-fit: cover; /*this makes the image in src fit to the size specified below*/
    width: 90%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    aspect-ratio: 1/1;
}


h2{
    text-align: center;
    margin-right: auto;
    font-size: 30px;
}

h3{
    text-align: center;
    font-weight: bold;
    margin-right: auto;
    font-size: 20px;
}

#comment{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
    width: 25rem;
    height: 9rem;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    padding: 10px;
    font-size: 20px;
    word-break: break-all;
    
}

#rating{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    // align header center
    text-align: center;
    width: 33.5rem;
    height: 5rem;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    // padding: 10px;
    font-size: 20px;
}
