<div class="row my-3"></div>

<div class="row">
    <div class="col-4">
        <img src="{{product?.image}}" >
        <div>
            <!-- avaliaçao do jogo -->
            <mat-card id="rating">
                <!-- <mat-card-header > -->
                <mat-card-title>Avaliação</mat-card-title>
                <!-- </mat-card-header> -->
                <mat-card-content >
                    <mat-card-title >
                        <mat-icon *ngFor="let i of rateInt">star</mat-icon>
                        <mat-icon *ngIf="rateDouble > 0">star_half</mat-icon> 
                    </mat-card-title>
                 </mat-card-content>
            </mat-card>
           
        </div>           
    </div>

    <!-- <div class="col-"></div> -->
    
    <div class="col">
        <h1>{{product?.title}}</h1>

        <div class="row">
            <div class="col">
                <p>{{product?.description}}</p>
            </div>

            <div class="col"> 
                <div class="row">
                </div>
        
                <div class="row">
                    <h2>{{product?.key_price}}</h2>
                    <button  mat-raised-button color="primary">Comprar key
                        <mat-icon style="transform: rotate(45deg);">key</mat-icon>
                    </button>
                    
                </div>

                <br>

                <div class="row">
                    <h2>{{product?.price}}</h2>
                    <button  mat-raised-button color="primary">Comprar CD
                        <mat-icon>album</mat-icon>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="col">
    <div class="row" style="background-color: grey;">
        <h3>Comentários</h3>
    </div>

    <div class="row" >
        <!-- display product comments in cols -->
        <div class="col" *ngFor="let comment of product?.comments" >
            <div class="col">
                <mat-card id="comment">
                    {{comment}}
                </mat-card>
            </div>
        </div>

        <div class="col">
            <mat-card id="comment">
                
                <form [formGroup]="form">
                    <mat-form-field appearance="fill">
                        <mat-label>Send message</mat-label>
                        <input  matInput type="text" formControlName="msg" >
                        <button *ngIf="form.get('msg')?.value" matSuffix mat-icon-button aria-label="Clear" (click)="addComment()">
                            <mat-icon>send</mat-icon>
                        </button>
                    </mat-form-field>
                </form>
            
            </mat-card>
        </div> 
    </div>
</div>
