<mat-toolbar>
    <div class="col-2">
        <span>EpiCT Games</span>
    </div>
    <div class="col-6">
        <mat-form-field style="font-size: 0.95rem;">
            <mat-label>Pesquisar</mat-label>
            <input matInput #input>
            <mat-icon> search</mat-icon>
        </mat-form-field>
    </div>

    <div class="col px-3">
        <button mat-icon-button Basic> 
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>
<router-outlet></router-outlet>