<mat-toolbar color="primary">
    <div class="col-3">
        <a mat-button routerLink="/home"> <img src="assets/logo.png" style="height: 4rem"> </a> 
    </div>

    <div class="col-6">
        <mat-form-field style="font-size: 0.95rem;">
            <mat-label>Pesquisar</mat-label>
            <input matInput #input>
            <mat-icon> search</mat-icon>
        </mat-form-field>
    </div>

    <div class="col px-3">
        <button mat-icon-button> 
            <mat-icon>shopping_cart</mat-icon>
        </button>
    </div>
</mat-toolbar>

<router-outlet></router-outlet>

<app-footer></app-footer>
