<mat-card (click)="open_game()">
    <mat-card-title-group>
        <mat-card-title>{{data}}</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    </mat-card-title-group>
    <mat-card-content>
    <mat-divider inset></mat-divider>
    <p>This card has divider and indeterminate progress as footer</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
