mat-card {
    background-color: #09703e;
    cursor: pointer;
    width: 80%;
    margin: auto;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

mat-card img {
    object-fit: fill;
    /*this makes the image in src fit to the size specified below*/
    width: 100%;
    aspect-ratio: auto;
    /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    //margin: auto;
    border-radius: 5px;
}

h1{
    text-align: center;
}