<mat-tab-group style="background-color: grey" mat-align-tabs="center">
    <mat-tab label="Games">
        <mat-grid-list cols="4" rowHeight="1:1">
            <mat-grid-tile *ngFor="let product of products">
                <app-product [data]="product"></app-product>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Events">
        <mat-grid-list cols="1" rowHeight="6:1" [gutterSize]="'10px'">
            <mat-grid-tile *ngFor="let product of products">
                <app-product [data]="product"></app-product>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>
