.mat-raised-button {
    margin: auto;
    width: 40%;
}

h2 {
    text-align: center;
}

span {
    cursor: pointer;
    text-decoration: underline;
    color: #7b1fa2;
}

span:hover {
    color: #512DA8;
}
